.stack-container {
  position: relative;
  width: 100vw;
  height: var(--stack-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stack-item {
  position: absolute;
  z-index: var(--stack-item-z-index);
}