@font-face {
  font-family: 'Neue Haas';
  src: url('@fonts/Neue Haas/NeueHaasDisplayXXThin.ttf') format('truetype');
  font-weight: 50;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas';
  src: url('@fonts/Neue Haas/NeueHaasDisplayXXThinItalic.ttf') format('truetype');
  font-weight: 50;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas';
  src: url('@fonts/Neue Haas/NeueHaasDisplayXThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas';
  src: url('@fonts/Neue Haas/NeueHaasDisplayXThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas';
  src: url('@fonts/Neue Haas/NeueHaasDisplayThin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas';
  src: url('@fonts/Neue Haas/NeueHaasDisplayThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas';
  src: url('@fonts/Neue Haas/NeueHaasDisplayLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas';
  src: url('@fonts/Neue Haas/NeueHaasDisplayLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas';
  src: url('@fonts/Neue Haas/NeueHaasDisplayRoman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas';
  src: url('@fonts/Neue Haas/NeueHaasDisplayItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas';
  src: url('@fonts/Neue Haas/NeueHaasDisplayMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas';
  src: url('@fonts/Neue Haas/NeueHaasDisplayMediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas';
  src: url('@fonts/Neue Haas/NeueHaasDisplayBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas';
  src: url('@fonts/Neue Haas/NeueHaasDisplayBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas';
  src: url('@fonts/Neue Haas/NeueHaasDisplayBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas';
  src: url('@fonts/Neue Haas/NeueHaasDisplayBlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@fonts/JetBrains Mono/JetBrainsMono-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@fonts/JetBrains Mono/JetBrainsMono-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@fonts/JetBrains Mono/JetBrainsMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@fonts/JetBrains Mono/JetBrainsMono-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@fonts/JetBrains Mono/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@fonts/JetBrains Mono/JetBrainsMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@fonts/JetBrains Mono/JetBrainsMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@fonts/JetBrains Mono/JetBrainsMono-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@fonts/JetBrains Mono/JetBrainsMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@fonts/JetBrains Mono/JetBrainsMono-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@fonts/JetBrains Mono/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@fonts/JetBrains Mono/JetBrainsMono-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@fonts/JetBrains Mono/JetBrainsMono-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@fonts/JetBrains Mono/JetBrainsMono-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@fonts/JetBrains Mono/JetBrainsMono-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@fonts/JetBrains Mono/JetBrainsMono-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

:root {
  --pano-ratio: 3.39;
}